<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vuelos">

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Vuelos">
        <activity
            android:name=".AnimacionInicio"
            android:exported="false" />
        <activity
            android:name=".AlarmReceiver"
            android:exported="false" />
        <activity
            android:name=".GalleryR"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".Gallery"
            android:exported="false"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".CargaVuelos"
            android:exported="true" />
        <activity
            android:name=".MapCityD"
            android:exported="true" />
        <activity
            android:name=".MapCityO"
            android:exported="true" />
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Register"
            android:exported="true" />
        <activity
            android:name=".ListaReservas"
            android:exported="true"
            android:launchMode="singleTop"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
        <activity
            android:name=".BuscadorVuelos"
            android:exported="true"
            android:label="Flight search"
            android:theme="@style/BaseAppTheme" />
        <activity
            android:name=".SeleccionVuelos"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
    </application>

</manifest>